body{
    font-family: Arial;
}

table{
    border-collapse: collapse;
    width:60%;
    margin: auto;
    background-color: rgb(245, 237, 237);
        
}

td{
    border: 1px solid black;
    text-align: center;
    padding:8px;
}

th{
    border: 1.5px solid black;
    background-color: pink;
}

tfoot{
    text-align: center;
}